// Override

.cls-1
//  fill $accentColor
  fill #002e5e

.action-button
  min-width 210px

.sidebar
  width 22rem

.theme-default-content pre, .theme-default-content pre[class*=language-]
  overflow-y hidden

.feature h2
  text-align center

.feature p
  text-align justify
